<nav class="nav d-flex">
    <a href="/dashboard">
        <div class="logo">
            <img src="/assets/logo.png" alt="Ads Logo">
        </div>
    </a>
    <div class="searchbar">
        <input class="search-nav" type="text" placeholder="Search">
    </div>
    <div class="check">
        <div class="icons-new d-flex">
            <span>
                <img class="sm_icons-new" src="/assets/notifications.png" />
            </span>
            <span>
                <img class="sm_icons-new" src="/assets/settings.png" />
            </span>
            <span>
                <img class="sm_icons-new" src="/assets/help_outline-1.png" />
            </span>
            <span>
                <img class="avatar_img" src="{{ author:avatar }}" alt="avatar">
            </span>
        </div>
    </div>
</nav>