<div class="widgets">
    <!-- <div class="widgets__input">
      <div class="">
        <form>
          <input class="search-old" type="text" placeholder="Search" />
        </form>
      </div>
      <div class="">
        <div class="icons d-flex">
          {{ collection:widgets }}
          <span>
            {{ icon }}
            <img class="sm_icons" src="{{ url }}" alt="{{ caption }}" />
            {{ /icon }}
          </span>
          {{ /collection:widgets }}
        </div>
      </div>
    </div> -->
    <div class="widgets__widgetContainer">
      <div class="ads">
        <div class="">
          <div class="ads-content-block">
            <div class="ads-title">
              ADS
            </div>
            <div class="">
              {{ collection:ads }}
              <div class="d-flex ads-content">
                {{ image }}
                <img src="{{ url }}" alt="{{ caption }}" />
                {{ /image }}
                <div class="content">{{ content }}</div>
              </div>
              {{ /collection:ads }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="">
      <h2 style="margin: 0 auto; width: max-content;">あなたのコミュニティチャット</h2>
      <div class="post">
        <div class="post__body">
          <div class="post__header">
          </div>
          <div class="post__content d-flex" style="flex-direction: column;">
            <img src="img/Picture2.png" alt="">
            <img src="img/Picture3.png" alt="">
          </div>
          <div class="post__footer">
          </div>
        </div>
      </div>
    </div> -->
  </div>